@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  margin: 0;
  background-color: #e7ecf2;
  color: teal;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
}
